<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Stereo Cause</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Styles -->
    <link href="styles/reset.css" rel="stylesheet" type="text/css">
    <link href="styles/style.css" rel="stylesheet" type="text/css">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  </head>
  <body>

    <div class="upper-bar">
      <div class="upper-bar-wrapper">
        <a href="#"><i class="fa fa-dot-circle-o"></i></a>
      </div>
    </div>

    <div class="title">
      <h1>NEW MUSIC <span class="and">&</span> GREAT CAUSES</h1>

      <h2>Stereo Cause lets you discover
        <a class="title-link"
           href="#artists">new music</a> and help
        <a class="title-link"
           href="#charities">important causes</a> by making
        <a class="title-link"
           href="#contribute">charitable contributions</a>.
      </h2>

      <div class="title-button-wrapper">
        <a class="title-button" href="#artists">Let's get started</a>
      </div>
    </div>

    <div id="artists" class="container artists-and-charities">
      <p class="section-title">{{ artistsTitle }}</p>
      <p class="section-body">{{ artistsDescription }}</p>

      <ul class="card-list">
        {{#each albums}}
        <li class="card" id={{ id }}>
          <div class="card-wrapper">
            <img src="assets/images/{{ coverImage }}"
                 alt="{{ name }}">
            <div class="card-text">
              <p class="card-title">{{ name }}</p>
              <p class="card-body">{{ artist }}</p>
              <p class="lock">
                {{#if premium}}
                  <i class="fa fa-lock locked"></i>
                {{else}}
                  <i class="fa fa-unlock-alt not-locked"></i>
                {{/if}}
              </p>
            </div>
          </div>
        </li>

        {{/each}}
      </ul>
    </div>

    <div id="sc-artist-details"></div>

    <div id="charities" class="container artists-and-charities">
      <p class="section-title">{{ charitiesTitle }}</p>
      <p class="section-body">{{ charitiesDescription }}</p>

      <ul class="card-list">
        {{#each charities}}
        <li class="card charity">
          <div class="card-wrapper">
            <img src="assets/images/{{ image }}"
                 alt="{{ name }}">
            <div class="card-text">
              <p class="card-title">{{ name }}</p>
              <p class="card-body">{{{ description }}}</p>
            </div>
          </div>
        </li>

        {{/each}}
      </ul>
    </div>

    <div id="sc-form"></div>

    <div class="container footer">
      <p>
        Stereo Cause
        &nbsp;&nbsp;/&nbsp;&nbsp;
        Feito com <i class="fa fa-heart"></i> no Rio e em Miami
        &nbsp;&nbsp;/&nbsp;&nbsp;
        Made with <i class="fa fa-heart"></i> in Rio and Miami
        &nbsp;&nbsp;/&nbsp;&nbsp;
        <i class="fa fa-copyright"></i>&nbsp;2015
      </p>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.1/react-with-addons.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="07d4zymmkbrmgtv"></script>
    <script type="text/javascript" src="app.js"></script>

    {{#if production}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65637514-1', 'auto');
      ga('send', 'pageview');

    </script>
    {{/if}}

  </body>
</html>